$main-color: #545c64;

// font
$base-font-size-small: 12px;
$base-font-size-default: 14px;
$base-font-size-large: 16px;
$base-font-size-max: 30px;

// color
$color-white: #eee;

// menu
$menu-color: $main-color;
$menu-item-active-color: #ffdb7a;
$menu-item-text-color: #fff;
